<div class='chat-block'>
    <div class='top-info'>
        <div class='avatar'>

        </div>
        <div class='user-info'>
            <p><strong>Reverse Bot</strong></p>
            <p><span>Lorem Ipsum és un text de farciment usat per la indústria de la tipografia i la impremta. Lorem Ipsum ha estat el text estàndard de la indústria des de l'any 1500, quan un impressor desconegut va fer servir una galerada de text i la va mesclar per crear un llibre de mostres tipogràfiques.</span></p>
        </div>
        <div class='clear'></div>
    </div>
    <div class='messages-block'>

        <div class='message-block bot'>
            <div class='message-header'>
                <strong class='message-author'>Reverse Bot</strong>
                <span class='message-data'>4:20 PM</span>
            </div>
            <div class='message-body'>
                <span class='message-author'>Hello world!</span>
            </div>
        </div>

        <div class='message-block me'>
            <div class='message-header'>
                <strong class='message-author'>Username</strong>
                <span class='message-data'>4:21 PM</span>
            </div>
            <div class='message-body'>
                <span class='message-text'>Hello robot</span>
            </div>
        </div>


        <div class='clear'></div>
        <div class='input-holder'>
            <form>
                <div><input type='text' placeholder='Start chating!'></div>
                <div><input type='submit' value='Send message'></div>
            </form>
        </div>

    </div>
</div>