<div class='right-panel'>
    <div class="tabs">
        <div class='tab' [class.active]="!onlyOnline" (click)="showOnline(false)"><span>All</span></div>
        <div class='tab' [class.active]="onlyOnline" (click)="showOnline(true)"><span>Online</span></div>
    </div>

    <div class='contacts'>
        <div class='contact' *ngFor="let contact of contacts | filterContactsBy : nameContains : onlyOnline">
            <div class='contact-avatar'>
                <div class='contact-status' [class.online]="contact.online"></div>
            </div>
            <div class='contact-description'>
                <strong>{{contact.name}}</strong>
                <p><span>{{contact.description}}</span></p>
            </div>
        </div>
        <!--div class='input-holder'>
            <div>
                <input type='text' placeholder='Search...'>
            </div>
        </div-->
    </div>
</div>