<div class='chat-block'>
    <div class='top-info'>
        <div class='avatar contact-avatar' [ngStyle]="{'background-image': 'url(images/' + selected?.avatar + ')'}">
            <!--img src="images/{{selected?.avatar}}"-->
        </div>
        <div class='user-info'>
            <p><strong>{{selected?.name}}</strong></p>
            <p><span>{{selected?.description}}</span></p>
        </div>
        <div class='clear'></div>
    </div>
    <div ps class='messages-block'>

        <div class='message-block'
             *ngFor="let message of messages; let last = last"
             [class.bot]="!message.authorUser"
             [class.me]="message.authorUser"
             [class.last-message]="last"
             attr.data-time="{{seenTime ? 'Seen: ' + (seenTime | date: 'shortTime') : ''}}">
            <div class='message-header'>
                <strong class='message-author'>{{message.authorUser ? 'Me': message.bot.name}}</strong>
                <span class='message-data'>{{message.date | date: 'shortTime'}}</span>
            </div>
            <div class='message-body'>
                <span class='message-author'>{{message.text}}</span>
            </div>
        </div>

        <div class='clear'></div>

    </div>
    <div class='input-holder'>
        <form class="send-message" (submit)="sendMessage()">
            <div><input type='text' placeholder='Start chating!' [(ngModel)]="message"></div>
            <div><input type='submit' value='Send message'></div>
        </form>
    </div>
</div>